.mb-24 {
  margin-bottom: 24px;
}

.input-style2 {
  &.focuesd {
    .placeholder_text {
      color: #743393;
    }
  }
} 

.input-style2.focused {
  .placeholder_text {
    color: #743393;
  }
}

.filter-content-item{
	.title{
    padding-right: 0;
    display: flex;
    align-items: center;
    h3 {
      text-align: left;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      user-select: none;
      cursor: pointer;
    }
    .chip {

    }
		.angle-btn{  
			position: unset;
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transform: unset;
      .svg-angle-icon {
        margin-right: -6px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px; 
        border-radius: 50%;
        border-color: transparent;
        background-color: transparent;
        transform: rotate(180deg);
        transition: transform 0.2s linear;
        &:hover{
          background: #F3F4F6;   
        }
      }
    }
  }
}

.filter-content-item.has-opened .title .angle-btn {
  transform: unset !important;
  .svg-angle-icon {
    transform: rotate(0deg);
  }
}

.filter-content-item.has-opened{ 
	.title,.title.has-opened-title{
		.angle-btn{
			transform: scale(-1); 
		}
	} 
	.title.has-opened-title{
		.angle-btn{
			transform: scale(-1);  
		}
	}  
	.filter-body{
		display: block; 
	} 
	.toggle-with-parent{
		display: none;
	}
}

.table-wrap .table-responsive .table.new-launch-column {
  margin-bottom: 24px;
}

.side-menu-wrapper{ 
  .side-navbar-nav{ 
    height: calc(100vh - 163px) !important; 
  }
  .sidenav-footer{
    position: unset !important;
    left: 0;
    bottom:0;
    width: 100%;
    z-index: 0; 
    z-index: 25; 
    background: #FFFFFF;
    box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.07);
    padding:16px 24px; 
  }
}

.custom-tab-wrapper span.d-inline-block.mb-md-1 {
  margin-bottom: 0px !important;
}

.responsive-chart {
  overflow-x: scroll;
}

.chart-wrapper {
  // height: 800px;
  &.market-segment {
    width: 800px;
    overflow: scroll;
  }
}

.header-area{
  .header-top{
    .nav-toggle-btn{ 
      @media #{$sm_device}{ 
        margin-left: 20px; 
      }
    }
  }
}


.all-filters-area,.sort-fixd-wrap{
	@media #{$xl_device}{
		.all-filters-wrap,.all-sort-fixd-wrap{
			height:calc(100% - 138px);
      padding-bottom: 30px;
		}
		.all-sort-fixd-wrap{
		}
		.footer-btn{
			// position: absolute;
			// bottom:0;left: 0;width: 100%;
			// z-index: 102; 
			// box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.07);
			// background: #FFFFFF; 
			.btn{
				padding: 12px 10px; 
			}
		} 
		.input-style2.focused .placeholder_text{
		} 
	}
	@media #{$sm_device}{
	}
}

.side-menu-wrapper .side-navbar-nav {
  padding-bottom: 30px;
}



.side-menu-wrapper{ 
  // .main-nav-wrap{
  // }
  // @media #{$sm_device}{
  // }
  // .nav-toggle-btn{ 
  //   @media #{$sm_device}{
  //   }
  // } 
  // .side-menu-header{ 
  //   @media #{$sm_device}{
  //   }
  // }
  // .navbar-collapse-wrap{
  // } 
  .sidenav-footer{
    .btn{ 
      span{
        margin-top: 1px;
        @media #{$sm_device}{
         font-size: 12px; 
        }
      }
    }
  }
}
